<template>
    <template if:true={urls}>
        <!-- <div class="slds-p-around--medium">  -->
            <!-- <div class="slds-size_4-of-4"> -->
            <div class="image-carousel">
                <div class="slds-box slds-box_x-small slds-text-align_center slds-m-around_x-small">
                    <lightning-carousel>
                        <template for:each={urls} for:item="url">
                            <lightning-carousel-image
                                key={url}
                                src={url}
                                description={description}
                            ></lightning-carousel-image>
                        </template>
                    </lightning-carousel>
                </div>
            </div>
        <!-- </div> -->
    </template>
</template>