.image-carousel{
    max-width: 65em;
    margin: auto;
}
.slds-carousel__content {
    display: none !important;
    height: unset;
}
.slds-carousel__indicator-action {
    border: #333 !important;
}
.slds-carousel__panel-action {   
    border: none;
}